name: CI
on:
  push:
    branches: [main]
  pull_request: {}
  workflow_dispatch: {}

# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#concurrency
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  COLUMNS: "120"
  FORCE_COLOR: "1"
  PYTHONUNBUFFERED: "1"

jobs:
  # Note: this is important to discover when Dependabot is attempting to break things.
  # Dependabot provides PRs that break transitive version pins. Without a check like
  # this, these breakages go unnoticed for instance for the docs requirements.
  check-requirements:
    name: Check requirements
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"
          cache: pip
          cache-dependency-path: .goose/**/manifest.json
          check-latest: true
      - run: >-
          python3 -m pip install
          --require-hashes
          --no-dependencies
          --requirement=requirements.txt
          --requirement=requirements-docs.txt
          --requirement=requirements-test.txt
      - run: python3 -m pip check

  self-check:
    name: Run hooks
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v6
      with:
        python-version: "3.14"
        cache: pip
        cache-dependency-path: .goose/**/manifest.json
        check-latest: true
    - name: Environment cache
      uses: actions/cache@v4
      with:
        path: ~/.cache/goose
        key: ${{ runner.os }}-goose-3.14-${{ hashFiles('.goose/**/manifest.json') }}
        restore-keys: |
          ${{ runner.os }}-goose-3.14
          ${{ runner.os }}-goose
    - run: python3 -m pip install --require-hashes --no-dependencies -r requirements.txt
    - run: python3 -m pip install --no-dependencies .
    # Note: this is important to discover when Dependabot is attempting to break things.
    - run: python3 -m pip check
    - run: time python -X dev -m goose run --select=all --verbose --delete-orphan-environments

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
          cache: pip
          cache-dependency-path: requirements-test.txt
          check-latest: true
      - run: pip install uv
      - run: uv venv --no-python-downloads
      - run: >-
          uv pip install
          --require-hashes
          --no-deps
          -r requirements-test.txt
      - run: uv pip install . --no-deps
      - run: uv pip check
      - run: .venv/bin/pytest
